<ion-footer *ngIf="network.offline" translucent="true">
  <ion-toolbar color="danger">
    <ion-text style="display:flex;justify-content:center;flex-direction:column">
      <div style="text-align: center;white-space: pre;">
        <i class="far fa-fw fa-wifi-slash"></i>&nbsp;
        <span>{{ text }}</span>
        <ng-template [ngIf]="lastSync">{{ lastSync | date:'d MMMM yyyy HH:mm':undefined:culture }}</ng-template>
      </div>
    </ion-text>
  </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="network.online && sync.busy" translucent="true">
  <ion-toolbar color="light">
    <ion-text style="display:flex;justify-content:center;flex-direction:;align-items:center;column-gap:.5rem">
      <div style="text-align: center;white-space: pre;">
        <ion-spinner></ion-spinner>
      </div>
      <div>
        <div *ngFor="let message of sync.message | keyvalue">
          {{ message.value }}
        </div>
      </div>
    </ion-text>
  </ion-toolbar>
</ion-footer>
