<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate="newsPage">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button tappable class="icon-only" [routerLink]="cartLink">
        <i class="fal fa-lg fa-fw fa-shopping-cart"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" translate="newsPage"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="loading">
    <div style="text-align:center">
      <ion-spinner></ion-spinner>
    </div>
  </div>
  <div class="news-list news-container" *ngIf="!loading">
    <ion-card *ngFor="let newsItem of news">
      <ion-card-header>
        <ion-card-title>{{ newsItem.title }}</ion-card-title>
        <ion-card-subtitle>{{ newsItem.date | date:'d MMMM yyyy':undefined:culture }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <iframe class="news-body" [title]="newsItem.title" [srcdoc]="safe(newsItem.content)"
                onload='(function(o){o.contentWindow.document.documentElement.onclick=(e)=>{let l=e.target||e.srcElement;if(l?.href?.includes("shop.claes-distribution.be")){parent.window.postMessage({tagName:l?.tagName,target:l?.target,href:l?.href }, "*");e.stopPropagation();e.preventDefault()}};o.style.height=o.contentWindow.document.body.scrollHeight+"px";if(o.contentWindow.document.documentElement.innerHTML.includes("https://shop.claes-distribution.be/leaflet")){o.style.height="184px"}}(this))'></iframe>
      </ion-card-content>
    </ion-card>
    <!-- <div padding class="news-item news-block" *ngFor="let newsItem of news">
      <div class="news-title" [innerText]="newsItem.title"></div>
      <div class="news-content" [innerHtml]="safe(newsItem.content)"></div>
      <span [innerText]="newsItem.date | date "></span>
      <div class="news-attachments">
        <ion-list>
          <ion-item button tappable *ngFor="let product of newsItem.products" [routerLink]="['/products', product.id]">
            <div *ngIf="displayThumbnail" item-start>
              <product-thumbnail [itemnum]="product.itemnum" [size]="32"></product-thumbnail>
            </div>
            <div class="item-details-grid">
              <div class="product-name">{{ product.name }}</div>
              <div class="product-unit">{{ product.unit }}</div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div> -->
  </div>
</ion-content>

<app-offline-footer></app-offline-footer>
