<ion-header [translucent]="true" no-shadow>
  <ion-toolbar color="primary">
    <ion-title translate="tutorialPage"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container pager="true" dir="ltr">
    <swiper-slide>
      <div>
        <!--
      <img src="assets/img/ica-slidebox-img-1.png" class="slide-image" />
      -->
        <h2 class="slide-title" translate="tutorial.slide1Title"></h2>
        <p [innerHtml]="'tutorial.slide1Description1' | translate"></p>
        <p [innerHtml]="'tutorial.slide1Description2' | translate"></p>
        <p [innerHtml]="'tutorial.slide1Description3' | translate"></p>
        <br>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div>
        <h2 class="slide-title" translate="tutorial.slide2Title"></h2>
        <div class="product-attributes clickable five-cols" style="margin-bottom:6px;">
          <div class="badge new-toggle">
            <span class="default" translate="badge.new-label"></span>
          </div>
          <div class="badge promo-toggle">
            <span class="default" translate="badge.promo-label"></span>
          </div>
          <div class="badge favorite-toggle">
            <span class="default" translate="badge.favorite-label"></span>
          </div>
          <div class="badge order-toggle">
            <span class="default" translate="badge.order-label"></span>
          </div>
          <div translate="tutorial.slide2Description2"></div>
        </div>

        <div class="product-attributes clickable">
          <div class="badge new-toggle">
            <span class="active" translate="badge.new-label"></span>
          </div>
          <div translate="tutorial.slide2Description1"></div>
          <div class="badge promo-toggle">
            <span class="active" translate="badge.promo-label"></span>
          </div>
          <div translate="tutorial.slide2Description3"></div>
          <div class="badge favorite-toggle">
            <span class="active" translate="badge.favorite-label"></span>
          </div>
          <div translate="tutorial.slide2Description5"></div>
          <div class="badge favorite-toggle">
            <span class="inactive" translate="badge.favorite-label"></span>
          </div>
          <div translate="tutorial.slide2Description6"></div>
          <div class="badge order-toggle">
            <span class="inactive" translate="badge.order-label"></span>
          </div>
          <div translate="tutorial.slide2Description10"></div>
        </div>
        <p translate="productAttributesNotice.order-description"></p>
        <div>
          <p translate="tutorial.slide2Description9"></p>
        </div>
        <br>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div>
        <h2 class="slide-title" translate="tutorial.slide3Title"></h2>
        <div>
          <p [innerHtml]="'tutorial.slide3Description1' | translate"></p>
        </div>
        <div>
          <p [innerHtml]="'tutorial.slide3Description2' | translate"></p>
        </div>
        <div>
          <p [innerHtml]="'tutorial.slide3Description3' | translate"></p>
        </div>
        <div>
          <p [innerHtml]="'tutorial.slide3Description4' | translate"></p>
        </div>
        <div>
          <p [innerHtml]="'tutorial.slide3Description5' | translate"></p>
        </div>
        <br>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div>
        <h2 class="slide-title" translate="tutorial.slide4Title"></h2>
        <div>
          <p [innerHtml]="'tutorial.slide4Description1' | translate"></p>
        </div>
        <div>
          <p [innerHtml]="'tutorial.slide4Description2' | translate"></p>
        </div>
        <div>
          <p [innerHtml]="'tutorial.slide4Description3' | translate"></p>
        </div>
        <div>
          <p [innerHtml]="'tutorial.slide4Description4' | translate"></p>
        </div>
        <div>
          <p [innerHtml]="'tutorial.slide4Description5' | translate"></p>
        </div>
        <ion-button tappable (click)="startApp()" color="primary">
          <span translate="loginButton"></span>
        </ion-button>
        <br>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
