<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button [text]="backButtonText"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span>
        {{ ( currentCategory === null ? 'categoriesPage' : currentCategory.name ) | translate | capitalize }}
      </span>
    </ion-title>
    <ion-buttons *ngIf="!isGuest" slot="end">
      <ion-button tappable class="icon-only" [routerLink]="cartLink">
        <i class="fal fa-lg fa-fw fa-shopping-cart"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">
        {{ ( currentCategory === null ? 'categoriesPage' : currentCategory.name ) | translate | capitalize }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngFor="let assortmentGroup of assortmentGroups">
    <ion-text class="list-header" *ngIf="!currentCategory">
      <ion-note>{{ assortmentGroup.name | capitalize }}</ion-note>
    </ion-text>

    <ion-list inset="true">
      <ion-item *ngFor="let category of assortmentGroup.categories" [attr.disabled]="category.products <= 0" button tappable (click)="navigatePage(category)">
        <ion-label>
          <span>{{ category.name | capitalize }}</span>
        </ion-label>
        <span slot="end">
          {{ category.products }}
        </span>
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-list inset="true" *ngIf="currentCategory">
    <ion-item detail="false" button tappable (click)="navigateToPage(currentCategory)">
      <ion-label color="tertiary" style="text-align:center">{{ 'showProducts' | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="loading" padding>
    <div style="text-align:center">
      <ion-spinner mode="ios"></ion-spinner>
    </div>
  </div>
</ion-content>

<app-offline-footer></app-offline-footer>
