<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate="pages.notes.title"></ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only *ngIf="!showCreate" tappable (click)="addNote()">
        <i class="fal fa-sm fa-fw fa-plus"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="newNote">
    <ion-list-header>
      <span [innerText]="newNote.date | date:'fullDate':null:culture"></span>
      <span item-end tappable (click)="addNote(newNote)">
        <ion-icon>
          <i class="fal fa-fw fa-lg fa-copy"></i>
        </ion-icon>
      </span>
    </ion-list-header>
    <ion-item lines="full">
      <ion-textarea [label]="'pages.notes.fields.note' | translate" labelPlacement="fixed"
        type="text" auto-grow="true"
        rows="4" [(ngModel)]="newNote.text"></ion-textarea>
    </ion-item>
    <ion-item lines="full">
      <ion-label slot="start" [innerText]="'pages.notes.fields.next-visit' | translate"></ion-label>
      <ion-datetime-button slot="end" datetime="dt-nextVisit"></ion-datetime-button>
    </ion-item>
    <ion-item lines="full">
      <ion-label slot="start" [innerText]="'pages.notes.fields.closed-from' | translate"></ion-label>
      <ion-datetime-button slot="end" datetime="dt-customerCloseFrom"></ion-datetime-button>
    </ion-item>
    <ion-item lines="full">
      <ion-label slot="start" [innerText]="'pages.notes.fields.open-from' | translate"></ion-label>
      <ion-datetime-button slot="end" datetime="dt-customerOpenFrom"></ion-datetime-button>
    </ion-item>
    <ion-item lines="full" id="note-buttons">
      <ion-button size="default" color="primary" tappable (click)="send(newNote)">
        <i class="fal fa-fw fa-lg fa-paper-plane"></i>
        <span translate="actions.send"></span>
      </ion-button>
      <ion-button size="default" color="primary" tappable (click)="save(newNote)">
        <i class="fal fa-fw fa-lg fa-save"></i>
        <span translate="actions.save"></span>
      </ion-button>
      <ion-button *ngIf="isUnsentNote(newNote)"
        size="default" color="primary" tappable (click)="deleteNote(newNote)">
        <i class="fal fa-fw fa-lg fa-trash"></i>
        <span translate="actions.delete"></span>
      </ion-button>
    </ion-item>
  </ion-list>
  <!-- Datetime modals -->
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime *ngIf="newNote" id="dt-nextVisit"
        displayFormat="DDDD DD MMMM YYYY" [(ngModel)]="newNote.nextVisit"
        presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime *ngIf="newNote" id="dt-customerCloseFrom"
        displayFormat="DDDD DD MMMM YYYY" [(ngModel)]="newNote.customerCloseFrom"
        presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime *ngIf="newNote" id="dt-customerOpenFrom"
        displayFormat="DDDD DD MMMM YYYY" [(ngModel)]="newNote.customerOpenFrom"
        presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>
  <!-- /Datetime modals -->
  <ion-list *ngFor="let note of notes">
    <ion-list-header class="ion-padding">
      <ion-label [innerText]="note.date | date : 'fullDate' : null : culture"></ion-label>
      <ion-button (click)="addNote(note)">
        <i class="fal fa-fw fa-lg fa-pencil" *ngIf="isUnsentNote(note);else copybutton"></i>
        <ng-template #copybutton>
          <i class="fal fa-fw fa-lg fa-copy" ></i>
        </ng-template>
      </ion-button>
    </ion-list-header>
    <ion-item *ngIf="isUnsentNote(note)" lines="full">
      <span translate="pages.notes.saved"></span>
    </ion-item>
    <ion-item *ngIf="development && note.id && note.toSend" lines="full">
      <span translate="pages.notes.to-be-sent"></span>
    </ion-item>
    <ion-item lines="full">
      <div style="padding-top:12px;padding-bottom:12px;display:block;width:100%;text-align:left;white-space: pre-wrap;"
        item-content [innerText]="note.text"></div>
    </ion-item>
    <ion-item lines="full">
      <ion-label>Debug</ion-label>
      <ion-label>{{ note | json }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
