<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate="pages.notes.title"></ion-title>
    <ion-buttons slot="end">
      <ion-button class="icon-only" *ngIf="!showCreate" tappable (click)="addNote()">
        <i class="fal fa-lg fa-fw fa-plus"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large" translate="pages.notes.title"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div
    style="display:flex;justify-content:center;align-items:center;align-content:center;height:calc(100% - 52px);width:100%;overflow:hidden;"
    *ngIf="notes && notes.length === 0 && !newNote">
    <ion-note translate>noNotes</ion-note>
  </div>

  <ng-container *ngIf="newNote">
    <ion-text class="list-header" style="display:flex;align-items:center;justify-content:space-between">
      <ion-note>{{ newNote.date | date : 'fullDate' : null : culture }}</ion-note>
      <div>
        <ion-button fill="clear" size="small" tappable (click)="send(newNote)" style="margin:0">
          <span translate="actions.send"></span>&nbsp;<i class="fal fa-paper-plane"></i>
        </ion-button>
        <ion-button color="tertiary" fill="clear" size="small" tappable (click)="save(newNote)" style="margin:0">
          <span translate="actions.save"></span>&nbsp;<i class="fal fa-save"></i>
        </ion-button>
        <ion-button color="danger" *ngIf="isUnsentNote(newNote)" fill="clear" size="small" tappable
                    (click)="deleteNote(newNote)" style="margin:0">
          <span translate="actions.delete"></span>&nbsp;<i class="fal fa-trash"></i>
        </ion-button>
      </div>
    </ion-text>

    <ion-list inset="true">
      <ion-item>
        <ion-textarea [label]="'pages.notes.fields.note' | translate" labelPlacement="fixed" type="text"
                      auto-grow="true" rows="4" [(ngModel)]="newNote.text"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label [innerText]="'pages.notes.fields.next-visit' | translate"></ion-label>
        <ion-datetime-button datetime="dt-nextVisit"></ion-datetime-button>
      </ion-item>
      <ion-item>
        <ion-label [innerText]="'pages.notes.fields.closed-from' | translate"></ion-label>
        <ion-datetime-button datetime="dt-customerCloseFrom"></ion-datetime-button>
      </ion-item>
      <ion-item>
        <ion-label [innerText]="'pages.notes.fields.open-from' | translate"></ion-label>
        <ion-datetime-button datetime="dt-customerOpenFrom"></ion-datetime-button>
      </ion-item>
      <ion-item *ngIf="debugging">
        <ion-label>Debug</ion-label>
        <ion-label>{{ newNote | json }}</ion-label>
      </ion-item>
      <!--      <ion-item id="note-buttons">-->
      <!--        <ion-button size="default" color="primary" tappable (click)="send(newNote)">-->
      <!--          <i class="fal fa-fw fa-lg fa-paper-plane"></i>-->
      <!--          <span translate="actions.send"></span>-->
      <!--        </ion-button>-->
      <!--        <ion-button size="default" color="primary" tappable (click)="save(newNote)">-->
      <!--          <i class="fal fa-fw fa-lg fa-save"></i>-->
      <!--          <span translate="actions.save"></span>-->
      <!--        </ion-button>-->
      <!--        <ion-button *ngIf="isUnsentNote(newNote)"-->
      <!--                    size="default" color="danger" tappable (click)="deleteNote(newNote)">-->
      <!--          <i class="fal fa-fw fa-lg fa-trash"></i>-->
      <!--          <span translate="actions.delete"></span>-->
      <!--        </ion-button>-->
      <!--      </ion-item>-->
    </ion-list>
  </ng-container>
  <!-- Datetime modals -->
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime *ngIf="newNote" id="dt-nextVisit"
                    displayFormat="DDDD DD MMMM YYYY" [(ngModel)]="newNote.nextVisit"
                    presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime *ngIf="newNote" id="dt-customerCloseFrom"
                    displayFormat="DDDD DD MMMM YYYY" [(ngModel)]="newNote.customerCloseFrom"
                    presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime *ngIf="newNote" id="dt-customerOpenFrom"
                    displayFormat="DDDD DD MMMM YYYY" [(ngModel)]="newNote.customerOpenFrom"
                    presentation="date"></ion-datetime>
    </ng-template>
  </ion-modal>
  <!-- /Datetime modals -->
  <ng-container *ngFor="let note of notes">
    <ion-text class="list-header" style="display:flex;align-items:center;justify-content:space-between">
      <ion-note>{{ note.date | date : 'fullDate' : null : culture }}</ion-note>
      <ion-button fill="clear" size="small" tappable (click)="addNote(note)" style="margin:0">
        <ng-container [ngSwitch]="isUnsentNote(note)">
          <ng-template [ngSwitchCase]="true">
            <span translate="actions.modify"></span>&nbsp;<i class="fal fa-pencil"></i>
          </ng-template>
          <ng-template [ngSwitchCase]="false">
            <span translate="actions.copy"></span>&nbsp;<i class="fal fa-copy"></i>
          </ng-template>
        </ng-container>
      </ion-button>
    </ion-text>

    <ion-list inset="true">
      <ion-item *ngIf="isUnsentNote(note)">
        <ion-text color="danger" translate="pages.notes.saved"></ion-text>
      </ion-item>
      <ion-item *ngIf="debugging && $any(note).id && $any(note).toSend">
        <span translate="pages.notes.to-be-sent"></span>
      </ion-item>
      <ion-item>
        <ion-label style="white-space:pre-wrap">
          {{ note.text }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="debugging">
        <ion-label>Debug</ion-label>
        <ion-label>{{ note | json }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>

<app-offline-footer></app-offline-footer>
