<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="backButtonText"></ion-back-button>
    </ion-buttons>
    <ion-title tappable (click)="copyMessage(product.itemnum + ' ' + product.name)">{{ productName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button tappable class="icon-only" [routerLink]="cartLink">
        <i class="fal fa-lg fa-fw fa-shopping-cart"></i>
      </ion-button>
      <ion-button *ngIf="product" tappable class="icon-only" [id]="'open-action-sheet-' + product.id" style="font-size: 1.5em">
        <i class="fal fa-fw fa-ellipsis-h"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-loading *ngIf="product != undefined" spinner="lines" translate="preparing" mode="ios"></ion-loading>
  <article *ngIf="product !== null && !loading">
    <div class="image-price-container">
      <section class="product-image-wrapper">
        <div class="product-image-container">
          <div class="product-image-border">
            <img [title]="product.name" [alt]="product.name" loading="lazy" [style]="'background-color:' + product.color" [src]="productImage | secure | async">
            <div class="product-image-inset" tappable (click)="network.online ? openPicturePreview() : network.noop()"></div>
          </div>
        </div>
      </section>
      <section class="product-prices-wrapper" *ngIf="product.prices">
        <ion-toolbar *ngIf="product.contentUnit && product.basePrice > 0" color="light">
          <ion-segment [(ngModel)]="showContentUnit">
            <ion-segment-button [value]="false">
              {{ product.unit }}
            </ion-segment-button>
            <ion-segment-button [value]="true">
              {{ product.contentUnit }}
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>

        <ion-text class="list-header">
          <ion-note>
            {{ 
              product.prices.length > 0 ?
                ('basePrice' | translate ) + ' ' + (product.basePrice | currency:'EUR':'symbol-narrow':'0.2-2':culture) :
                'priceOnRequest' | translate
            }}
          </ion-note>
        </ion-text>

        <ion-list inset="true" [style.marginBottom]="'8px'">
          <ion-item>
            <ion-label slot="start" position="fixed" translate>amount</ion-label>
            <ion-text translate>price</ion-text>
          </ion-item>
          <ion-item *ngFor="let price of product.prices | reverse" [ngClass]="isCurrentStack(price)" tappable (click)="setAmount(price.quantity)">
            <ion-label slot="start" position="fixed">
              {{ showContentUnit ? price.quantity * this._product.contentQuantity : price.quantity }}
            </ion-label>
            <div>
              <span *ngIf="!showContentUnit">
                {{ price.amount | currency:'EUR':'symbol-narrow':'0.2-2':culture }}
              </span>
              <span *ngIf="showContentUnit">
                {{ (price.amount / this._product.contentQuantity) | currency:'EUR':'symbol-narrow':'0.5-5':culture }}
              </span>
            </div>
            <ion-badge slot="end" color="danger" *ngIf="price.discount > 0">
              -{{ price.discount | number:'0.2-2' }}%
            </ion-badge>
          </ion-item>

          <ion-item *ngIf="isUnavailable || product.availableOn">
            <div *ngIf="isUnavailable">
              <span translate="productUnavailable"></span>
            </div>
            <div *ngIf="!isUnavailable && product.availableOn">
              <span translate="availableOn"></span>
              <span [innerText]="product.availableOn | date:'dd/MM/yyyy'"></span>
            </div>
          </ion-item>
        </ion-list>

        <ion-text class="list-footer" *ngIf="otherUnits">
          <ion-note>
            {{ 'alsoAvailableUnit' | translate }}
            <ng-container *ngFor="let unit of otherUnits; let last = last; let first = first">
              <ng-container *ngIf="!first && !last">, </ng-container>
              <ng-container *ngIf="!first && last"> of </ng-container>
              <ion-text color="tertiary" tappable [routerLink]="['../', unit.id]">'{{ unit.unit }}'</ion-text>
              <ng-container *ngIf="last">.</ng-container>
            </ng-container>
          </ion-note>
        </ion-text>

        <ion-text class="list-header">
          <ion-note>{{ amountLabel }}</ion-note>
        </ion-text>

        <ion-list inset="true" *ngIf="!isUnavailable && !product.availableOn">
          <ion-item>
            <ion-input type="number" [(ngModel)]="product.amount" placeholder="0" (change)="changeProductAmount()" *ngIf="!product.availableOn" step="1" min="0"></ion-input> <!-- [label]="amountLabel" labelPlacement="stacked" -->
          </ion-item>
        </ion-list>

        <ion-text class="list-footer" *ngIf="product.prices.length > 0 && (product.contentQuantity !== null || product.contentQuantity > 1)" [style.visibility]="showContentUnit ? 'visible' : 'hidden'">
          <ion-note translate>{{ 'piecepricedisclaimer' | translate }} {{ product.unit }}</ion-note>
        </ion-text>
      </section>
    </div>

    <section class="product-actions-badges-wrapper">
      <div class="toggle-button new-toggle">
        <span [ngClass]="product.isNew === true ? 'active' : 'inactive'" translate="newToggleButton"></span>
      </div>
      <div class="toggle-button promo-toggle">
        <span [ngClass]="canPromo && product.isPromo === true ? 'active' : 'inactive'" translate="promoToggleButton"></span>
      </div>
      <div class="toggle-button favorite-toggle">
        <span [ngClass]="product.isFavorite === true ? 'active' : 'inactive'" translate="favoriteToggleButton"></span>
      </div>
      <div class="toggle-button order-toggle">
        <span [ngClass]="product.type === 'B' ? 'active' : 'inactive'" translate="orderToggleButton"></span>
      </div>
    </section>

    <ng-container *ngIf="allowPromo">
      <ion-text class="list-header">
        <ion-note translate>promotion</ion-note>
      </ion-text>

      <ion-list inset="true">
        <ion-item>
          <ion-label class="ion-text-wrap" [innerHtml]="safe(product.promo)"></ion-label>
        </ion-item>
      </ion-list>

      <ng-container *ngIf="product.promoProducts && product.promoProducts.length > 0">
        <ion-text class="list-header">
          <ion-note translate>similarPromoProducts</ion-note>
        </ion-text>
        <div class="product-scroll-container item-color">
          <div class="product-placeholder scrollabel-product" tappable [routerLink]="['../', promoProduct.id]" *ngFor="let promoProduct of product.promoProducts">
            <div class="product-image" *ngIf="displayThumbnail">
              <img class="product-image" [src]="promoProduct.url | secure | async" [title]="promoProduct.name" [alt]="promoProduct.name" loading="lazy" [style]="'background-color:' + promoProduct.color" width="72" height="72">
            </div>
            <span [innerHtml]="promoProduct.name"></span>
            <!-- <span [innerHtml]="promoProduct.unit"></span> -->
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="product.relatedProducts && product.relatedProducts.length > 0">
      <ion-text class="list-header">
        <ion-note translate>relatedProducts</ion-note>
      </ion-text>
      <div class="product-scroll-container item-color">
        <div class="product-placeholder scrollabel-product" tappable [routerLink]="['../', rel.id]" *ngFor="let rel of product.relatedProducts">
          <div class="product-image" *ngIf="displayThumbnail">
            <img class="product-image" [src]="rel.url | secure | async" [title]=" rel.name" [alt]="rel.name" loading="lazy" [style]="'background-color:' + rel.color" width="72" height="72">
          </div>
          <div>
            {{ rel.name }}
          </div>
          <!-- <ion-note>
            {{ rel.unit | capitalize }}
          </ion-note> -->
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="product.similarProducts && product.similarProducts.length > 0">
      <ion-text class="list-header">
        <ion-note translate>similarProducts</ion-note>
      </ion-text>
      <div class="product-scroll-container item-color">
        <div class="product-placeholder scrollabel-product" tappable [routerLink]="['../', similarProduct.id]" *ngFor="let similarProduct of product.similarProducts">
          <div class="product-image" *ngIf="displayThumbnail">
            <img class="product-image" [src]="similarProduct.url | secure | async" [title]="similarProduct.name" [alt]="similarProduct.name" loading="lazy" [style]="'background-color:' + product.color" width="72" height="72">
          </div>
          <span>{{ similarProduct.name }}</span>
          <!-- <span>{{ similarProduct.unit }}</span> -->
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="product.description" class="product-description-wrapper">
      <ion-text class="list-header">
        <ion-note translate>description</ion-note>
      </ion-text>

      <ion-list inset="true">
        <ion-item>
          <ion-label class="ion-text-wrap" [innerHtml]="safe(product.description)"></ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

    <ion-text class="list-header">
      <ion-note translate>productInfo</ion-note>
    </ion-text>

    <ion-list inset="true">
      <ion-item *ngIf="product.isFavorite && product.favLastB">
        <ion-label translate="totalPurchased"></ion-label>
        <span [innerText]="product.favA"></span>
      </ion-item>
      <ion-item *ngIf="product.isFavorite && product.favLastB">
        <ion-label translate="lastPurchaseAmount"></ion-label>
        <span [innerText]="product.favLastA"></span>
      </ion-item>
      <ion-item *ngIf="product.isFavorite && product.favLastB">
        <ion-label translate="lastPurchaseDate"></ion-label>
        <span [innerText]="product.favLastB | date:'mediumDate':undefined:culture"></span>
      </ion-item>
      <ion-item tappable (click)="copyMessage(product.itemnum)">
        <ion-label translate="itemNum"></ion-label>
        <span [innerHtml]="product.itemnum"></span>
      </ion-item>
      <ion-item *ngIf="product.descriptionCustomer">
        <ion-label translate="descriptionCustomer"></ion-label>
        <span [innerText]="product.descriptionCustomer"></span>
      </ion-item>
      <ion-item>
        <ion-label translate="packingUnit"></ion-label>
        {{ product.unit | capitalize }}
      </ion-item>
      <ion-item *ngFor="let tax of product.taxes">
        <ion-label [innerText]="tax.description"></ion-label>
        {{ tax.amount | currency:'EUR':'symbol-narrow':'0.2-2':culture }}
      </ion-item>
      <ion-item *ngIf="product.type === 'B'">
        <ion-label translate="deliverTime"></ion-label>
        {{ product.deliverTime }} {{ ( product.deliverTime > 1 ? 'days' : 'day' ) | translate }}
      </ion-item>
      <ion-item *ngIf="product.ean && product.ean !== ''" tappable (click)="copyMessage(product.ean)">
        <ion-label>EAN</ion-label>
        <span [innerText]="product.ean"></span>
      </ion-item>
      <ion-item *ngIf="product.minOrder > 1">
        <ion-label translate="minorderQuantity"></ion-label>
        <span [innerHtml]="product.minOrder"></span>
      </ion-item>
      <ion-item *ngIf="product.stackSize > 1">
        <ion-label translate="minorderStack"></ion-label>
        <span [innerHtml]="product.stackSize"></span>
      </ion-item>
      <ion-item *ngIf="product.supplierItemIdentifier && product.supplierItemIdentifier !== ''">
        <ion-label translate="supplierItemId"></ion-label>
        <span [innerText]="product.supplierItemIdentifier"></span>
      </ion-item>
    </ion-list>

    <ng-container *ngIf="product.departments && product.departments.length > 0">
      <ion-text class="list-header">
        <ion-note translate>departments</ion-note>
      </ion-text>

      <ion-list inset="true">
        <ion-item *ngFor="let department of product.departments">
          <ion-label [innerText]="department.alias"></ion-label>
          <ion-button slot="end" color="danger" tappable (click)="removeFromDepartment(department.id)">
            {{ 'removeButton' | translate }}
          </ion-button>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="isFood">
      <ion-text class="list-header">
        <ion-note translate>allergenDetails</ion-note>
      </ion-text>

      <ion-list inset="true" *ngIf="product.allergens && product.allergens.length > 0">
        <ion-item *ngFor="let allergen of product.allergens">
          <ion-label class="text-capitalize" translate>allergen_{{ allergen.code | lowercase }}</ion-label>
          <ion-text class="text-capitalize" slot="end" translate>{{ allergen.value | lowercase }}</ion-text>
          <!-- <span class="text-capitalize" translate></span> &nbsp;
            <span class="text-capitalize" translate>{{ allergen.value | lowercase }}</span> -->
        </ion-item>
      </ion-list>

      <ion-list inset="true" *ngIf="product.allergens && product.allergens.length <= 0">
        <ion-item>
          <ion-note translate>noAllergensPresent</ion-note>
        </ion-item>
      </ion-list>

      <ion-list inset="true" *ngIf="!product.allergens">
        <ion-item>
          <ion-note translate>noAllergensAvailable</ion-note>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="product.attributes && product.attributes.length > 0">
      <ion-text class="list-header">
        <ion-note translate>attributes</ion-note>
      </ion-text>

      <ion-list inset="true">
        <ion-item *ngFor="let attribute of product.attributes">
          <ion-label>
            {{ attribute.groupName | capitalize }}
          </ion-label>
          {{ attribute.name | capitalize }}
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="(product.favLastB) || user.hasAgentAccess">
      <ion-text class="list-header">
        <ion-note translate>datasheets</ion-note>
      </ion-text>

      <ion-list inset="true">
        <ion-item *ngIf="datasheets.length === 0">
          <ion-label class="ion-text-wrap" translate="noDatasheets"></ion-label>
        </ion-item>
        <ion-item *ngFor="let attachment of datasheets" tappable (click)="network.online ? showDocumentActionSheet(attachment) : network.noop()">
          <ion-avatar slot="start">
            <ion-img height="24" width="24" src="assets/icon/pdf.svg"></ion-img>
          </ion-avatar>
          <ion-label>
            {{ attachment.name }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="usageManuals.length > 0">
      <ion-text class="list-header">
        <ion-note translate>usageManuals</ion-note>
      </ion-text>

      <ion-list inset="true">
        <ion-item *ngFor="let attachment of usageManuals" tappable (click)="network.online ? showDocumentActionSheet(attachment) : network.noop()">
          <ion-avatar slot="start">
            <ion-img height="24" width="24" src="assets/icon/pdf.svg"></ion-img>
          </ion-avatar>
          <ion-label>
            {{ attachment.name }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="recipes.length > 0">
      <ion-text class="list-header">
        <ion-note translate>recipes</ion-note>
      </ion-text>
      <ion-list inset="true">
        <ion-item *ngFor="let attachment of recipes | slice:0:recipeCount" tappable (click)="network.online ? showRecipeActionSheet(attachment) : network.noop()">
          <ion-avatar slot="start">
            <ion-img height="24" width="24" src="assets/icon/pdf.svg"></ion-img>
          </ion-avatar>
          <ion-label>
            {{ attachment.name }}
          </ion-label>
        </ion-item>
        <ion-item *ngIf="recipes.length > recipeCount" tappable (click)="showAllRecipes()">
          {{ 'displayAllRecipes' | translate }}
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="network.online && recipesModule.length > 0">
      <ion-text class="list-header">
        <ion-note translate>recipesWebsite</ion-note>
      </ion-text>

      <ion-list inset="true">
        <ion-item *ngFor="let recipe of recipesModule" button tappable (click)="openRecipe(recipe)">
          {{ recipe.name }}
        </ion-item>
      </ion-list>
    </ng-container>

    <ion-action-sheet *ngIf="product" [trigger]="'open-action-sheet-' + product.id" [header]="'actions.title' | translate" [buttons]="actionSheetButtons"></ion-action-sheet>
  </article>
  <ion-modal [isOpen]="pictureOpen" class="fullscreen" style="--width:100%; --height:calc(100vw + 40px);" (didDismiss)="pictureOpen = false">
    <!-- <ion-backdrop [visible]="true"></ion-backdrop> -->
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()" translate="action.cancel"></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <img [src]="_product.url.replace('?s=thumb', '?s=source')" [alt]="_product.name" width="800" height="800" style="max-width: inherit; max-height: inherit; height: auto; width: 100%" />
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="departmentAddOpen" (didDismiss)="departmentAddOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>
            {{ 'selectaDepartment' | translate }}
          </ion-title>
          <ion-buttons start>
            <ion-button tappable (click)="modalCtrl.dismiss()">
              <span color="primary" showWhen="ios">
                {{ 'cancelButtonText' | translate }}
              </span>
              <ion-icon name="md-close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list-header>
          {{ 'department' | translate }}
        </ion-list-header>
        <ion-list>
          <ion-item>
            <ion-select [(ngModel)]="selectedDepartment" interface="popover">
              <ion-select-option value="" checked="true">{{ 'selectaDepartment' | translate }}</ion-select-option>
              <ion-select-option [value]="department.id" *ngFor="let department of departments">{{ department.alias }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button color="primary" tappable (click)="completeAddProductToDepartment()" [disabled]="!selectedDepartment">{{ 'confirm' | translate }}</ion-button>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<app-offline-footer></app-offline-footer>
