<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button [text]="backButtonText"></ion-back-button>
    </ion-buttons>
    <ion-title translate="cartsPage"></ion-title>
    <ion-buttons slot="end">
      <ion-button tappable color="primary" [routerLink]="['history']" translate>
        showCartsHistory
      </ion-button>
      <ion-button class="icon-only" *ngIf="menuItemsActive" tappable (click)="create()">
        <i class="fal fa-fw fa-plus"></i>
      </ion-button>
      <!-- <ion-button class="icon-only" tappable *ngIf="isAgent" (click)="toggleMode()">
        <i class="fal fa-fw fa-ellipsis-v"></i>
      </ion-button> -->
      <ion-button class="icon-only" tappable (click)="sendSelected()" *ngIf="isAgent" [disabled]="!showSelects">
        <i class="fal fa-fw fa-paper-plane"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large" translate="cartsPage"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="loading" padding>
    <div style="text-align:center">
      <ion-spinner mode="ios"></ion-spinner>
    </div>
  </div>

  <div style="display:flex;justify-content:center;align-items:center;align-content:center;height:calc(100% - 52px);width:100%;overflow:hidden;" *ngIf="carts && carts.length === 0">
    <ion-note translate>noCarts</ion-note>
  </div>

  <ion-list inset="true">
    <ion-item-sliding *ngFor="let cart of carts">
      <ion-item [routerLink]="[cart.id]" tappable button>
        <i slot="start" (click)="$event.stopPropagation();$event.preventDefault();setActive(cart)" class="fal fa-xs fa-check-circle" style="color:#76D572" *ngIf="cart.active"></i>
        <i slot="start" (click)="$event.stopPropagation();$event.preventDefault();setActive(cart)" class="fal fa-xs fa-check-circle" *ngIf="!cart.active"></i>

        <ion-label>
          {{ cart.customerName | capitalize }}
          {{ cart.addressName | capitalize }}
        </ion-label>

        <ion-note slot="end">
          {{ cart.products.length }}
        </ion-note>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-text class="list-footer" *ngIf="unsendCount > 0">
    <ion-note>
      <ion-text [innerText]="unsentText"></ion-text>
    </ion-note>
  </ion-text>
</ion-content>

<app-offline-footer></app-offline-footer>
