@import "global.variables.scss";

@mixin smoke($color, $l) {
  background: scale-color($color, $lightness: $l)
}

$blue-color: #488aff;

.light-theme {
  $background: #fafafa;
  $text: #272727;
  $item-background: #ffffff;
  $control-background: #ececec;
  $under-background: #9e9e9e;
  $item-border-color: #dadada;

  $background-color: transparent;
  $blue: #409cff; // 86AEF8  0070f5
  $red: #ff4036; // EB655F  f53126
  $orange: #ff9500; // fcff58  f58b00
  $green: #28cd41; // 74A483  1ec337

  $tt-1: 39;
  $shadow-color-1: rgba($tt-1, $tt-1, $tt-1, 0.14);
  $shadow-color-2: rgba($tt-1, $tt-1, $tt-1, 0.20);
  $shadow-color-3: rgba($tt-1, $tt-1, $tt-1, 0.12);

  color: $text;
  background-color: $background;

  .splash-intro {
    color: $text !important;
    background-color: $background default;
  }

  ion-menu {

    ion-icon.icon.icon-md,
    ion-icon.icon.icon-ios {
      color: $blue-color;

      i {
        color: $blue-color;
      }
    }
  }

  .blue-color-text {
    color: $blue-color;
  }

  ion-icon.icon.icon-md,
  ion-icon.icon.icon-ios {
    color: $text;
  }

  .toolbar-md-primary .toolbar-background-md,
  .toolbar-ios-primary .toolbar-background-ios {
    background-color: $logo-hig;
  }

  .toolbar-md-light .toolbar-background-md,
  .toolbar-ios-light .toolbar-background-ios {
    background-color: $background;
  }

  .toolbar-md-primary,
  .toolbar-ios-primary {

    .toolbar-background-md,
    .toolbar-background-ios {
      background-color: $logo-hig;
    }

    ion-icon.icon.icon-md,
    ion-icon.icon.icon-ios {
      color: #fff;
    }
  }

  .empty-message {
    text-align: center;
    margin: 0 auto;
    color: $under-background;
  }

  progress-bar .progress-inner {
    background-color: $logo-hig;
  }

  .toolbar-md-light .toolbar-background-md,
  .toolbar-ios-light .toolbar-background-ios {
    background-color: $background;
  }

  .button-md.button-md-primary,
  .button-ios.button-ios-primary,
  .fab-md.fab-md-primary,
  .fab-ios.fab-ios-primary {
    color: $control-background;
    background-color: $logo-med;

    i {
      color: $logo-med;
    }

    &:hover {
      color: $text;
      @include smoke($logo-med, +15%);
    }

    ion-icon.icon.icon-ios {
      color: $text;
    }
  }

  .button-md.button-md-light,
  .button-ios.button-ios-light {
    color: $text;
    background-color: $control-background;

    i {
      color: $control-background;
    }

    &:hover {
      color: $text;
      @include smoke($control-background, +15%);
    }
  }

  .button-md.button-md-danger,
  .button-ios.button-ios-danger {
    color: $text;
    background-color: $red;

    ion-icon {
      color: $red;
      background-color: $red;
    }

    &:hover {
      color: $text;
      @include smoke($red, +15%);
    }
  }

  .searchbar-md,
  .searchbar-ios {
    color: $text;

    .searchbar-input {
      color: $text;
      background-color: $control-background;
    }
  }

  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md,
  .item-input .label-ios,
  .item-select .label-ios,
  .item-datetime .label-ios {
    color: $text;
  }

  .radio-md .radio-checked,
  .radio-ios .radio-checked {
    border-color: $blue-color;
  }

  .radio-md .radio-checked .radio-inner,
  .radio-ios .radio-checked .radio-inner {
    border-color: $blue-color;
  }

  .item-radio-checked.item-md ion-label,
  .item-radio-checked.item-ios ion-label {
    color: $blue-color;
  }

  .toggle-md.toggle-checked .toggle-icon,
  .toggle-ios.toggle-checked .toggle-icon {
    background-color: #c8dcff;
  }

  .toggle-md.toggle-checked .toggle-inner,
  .toggle-ios.toggle-checked .toggle-inner {
    background-color: $blue-color;
  }

  .item-md,
  .item-ios {
    color: $text;
    background-color: $item-background;

    -webkit-transition: none;
    transition: none;

    &.list-header-md,
    &.list-header-ios {
      color: $blue-color;
    }
  }

  button.item-ios:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .card-md,
  .card-ios {
    background-color: $item-background;
    -webkit-box-shadow: 0 2px 2px 0 $shadow-color-1, 0 3px 1px -2px $shadow-color-2, 0 1px 5px 0 $shadow-color-3;
    box-shadow: 0 2px 2px 0 $shadow-color-1, 0 3px 1px -2px $shadow-color-2, 0 1px 5px 0 $shadow-color-3;

    .card-title-md,
    .card-title-ios {
      color: $blue-color;
    }
  }

  .loading-md,
  .loading-ios {
    .loading-wrapper {
      border-radius: .5em;
      background-color: $item-background;
      color: $text;
    }
  }

  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block,
  .list-ios>.item-block:first-child,
  .list-ios>.item-wrapper:first-child .item-block,
  .list-md .item-block .item-inner,
  .item-md.item-block .item-inner,
  .list-header-md,
  .list-ios .item-block .item-inner,
  .item-ios.item-block .item-inner,
  .list-header-ios,
  .icon-circle {
    border-top-color: $item-border-color;
    border-right-color: $item-border-color;
    border-bottom-color: $item-border-color;
    border-left-color: $item-border-color;
  }

  .icon-circle {
    background-color: $background;
  }

  .content-md,
  .content-ios {
    background-color: $background;
  }

  .control-color {
    color: $text;
    background-color: $control-background;
    border-top-color: $item-border-color;
    border-right-color: $item-border-color;
    border-bottom-color: $item-border-color;
    border-left-color: $item-border-color;
  }

  .item-color {
    color: $text;
    background-color: $item-background;
  }

  .new-background {
    background-color: $blue;
  }

  .promo-background {
    background-color: $red;
  }

  .favorite-background {
    background-color: $orange;
  }

  .order-background {
    background-color: $green;
  }

  div.product-name span,
  div.product-packing-unit span {
    color: $under-background;
  }

  div.toggle-button,
  div.option-state {
    span {
      color: $text;
      border-color: $item-border-color;
    }

    &.new-toggle {
      span.active {
        border-color: $blue;
        background-color: $blue;
        color: $control-background;
      }

      span.default {
        border-color: $blue;
        background-color: transparent;
        color: $blue;
      }

      span.inactive {
        background-color: $background-color;
        color: $item-border-color;
      }
    }

    &.attribute-button {
      span.default {
        border-color: $blue-color;
        background-color: transparent;
        color: $blue-color;
      }

      span.active {
        border-color: $blue-color;
        background-color: $blue-color;
        color: $control-background;
      }
    }

    &.promo-toggle {
      span.active {
        border-color: $red;
        background-color: $red;
        color: $control-background;
      }

      span.default {
        border-color: $red;
        background-color: transparent;
        color: $red;
      }

      span.inactive {
        background-color: $background-color;
        color: $item-border-color;
      }
    }

    &.favorite-toggle {
      span.active {
        border-color: $orange;
        background-color: $orange;
        color: $control-background;
      }

      span.default {
        border-color: $orange;
        background-color: transparent;
        color: $orange;
      }

      span.inactive {
        background-color: $background-color;
        color: $item-border-color;
      }
    }

    &.order-toggle {
      span.active {
        border-color: $green;
        background-color: $green;
        color: $control-background;
      }

      span.default {
        border-color: $green;
        background-color: transparent;
        color: $green;
      }

      span.inactive {
        background-color: $background-color;
        color: $item-border-color;
      }
    }

    &[disabled="true"] {
      pointer-events: none;

      span {
        border-color: $item-border-color !important;
        background-color: none !important;
        color: $item-border-color !important;
      }
    }
  }

  div.option-state {
    &.new-toggle {
      span.active {
        background-color: transparent;
        color: $blue;
      }
    }

    &.promo-toggle {
      span.active {
        background-color: transparent;
        color: $red;
      }
    }

    &.favorite-toggle {
      span.active {
        background-color: transparent;
        color: $orange;
      }
    }

    &.order-toggle {
      span.active {
        background-color: transparent;
        color: $green;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  // .content-md,
  // .content-ios {
  //   background-color: green !important;
  // }
}

@media (prefers-color-scheme: light) {
  // .content-md,
  // .content-ios {
  //   background-color: yellow !important;
  // }
}
