<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <div class="splash-bg" [style.background-image]="backgroundImage" id="backgound-image"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro" *ngIf="accountForm">
      <form [formGroup]="accountForm" (submit)="login()">
        <ion-list style="margin-bottom:1px">
          <ion-item lines="full">
            <ion-input type="email" formControlName="username" autocomplete="username" name="email"
              [label]="'email' | translate" labelPlacement="floating"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-input type="password" formControlName="password" autocomplete="current-password" name="password"
              [label]="'password' | translate" labelPlacement="floating"></ion-input>
          </ion-item>
        </ion-list>
        <div class="pt-4 px-4">
          <div class="pb-4" *ngIf="busy">
            <ion-spinner mode="ios"></ion-spinner>
          </div>
          <ion-button color="primary" expand="block" type="submit" [disabled]="busy || dbError" translate="loginButton">
          </ion-button>
        </div>
      </form>

      <div class="pt-4 px-4">
        <div style="display:flex;flex-flow:column">
          <ion-button color="primary" tappable (click)="resetPassword()" translate="forgotPassword">
          </ion-button>
          <ion-button color="primary" tappable (click)="signup()" translate="noClaesID">
          </ion-button>
        </div>
        <p>
          <span translate="version"></span>
          <span>{{ appVersion }}</span>
        </p>
      </div>
    </div>
  </div>
</ion-content>
