<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button [text]="backButtonText"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span class="title" [innerText]="pageTitle | capitalize"></span>
      <span class="selected-customer" *ngIf="currentCustomer" [innerText]="currentCustomer"></span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button tappable class="icon-only" (click)="changeSortOrder()" *ngIf="favoriteFilter">
        <i class="fal fa-fw fa-sort"></i>
      </ion-button>
      <ion-button tappable class="icon-only" [routerLink]="cartLink">
        <i class="fal fa-lg fa-fw fa-shopping-cart"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <div class="filters-toolbar">
      <div class="toggle-button new-toggle" tappable (click)="toggleNewFilter()" [attr.disabled]="loading">
        <span [ngClass]="filter.newState" translate="newToggleButton"></span>
      </div>
      <div class="toggle-button promo-toggle" [attr.disabled]="!canPromo || loading" tappable (click)="togglePromoFilter()">
        <span [ngClass]="filter.promoState" translate="promoToggleButton"></span>
      </div>
      <div class="toggle-button favorite-toggle" tappable (click)="toggleFavoriteFilter()" [attr.disabled]="loading">
        <span [ngClass]="filter.favoriteState" translate="favoriteToggleButton"></span>
      </div>
      <div class="toggle-button order-toggle" tappable (click)="toggleOrderFilter()" [attr.disabled]="loading">
        <span [ngClass]="filter.orderState" translate="orderToggleButton"></span>
      </div>
      <!-- <div class="toggle-button attribute-button" tappable (click)="showFilterModal()"
        [attr.disabled]="!canFilterModal || loading">
        <span [ngClass]="hasAttributeFilter ? 'active': 'default'">
          <i class="fal fa-fw fa-lg fa-filter active"></i>
        </span>
      </div> -->
      <div class="search-query">
        <input [placeholder]="'searchInput' | translate" class="control-color" style="width:100%" type="text" [(ngModel)]="filter.query" (change)="load()" />
      </div>
      <div class="toggle-button reset-button" tappable (click)="resetFilters()" [attr.disabled]="loading">
        <span class="default">
          {{ 'removeSelection' | translate }}
        </span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <cdk-virtual-scroll-viewport itemSize="81" minBufferPx="1350" maxBufferPx="2350" *ngIf="products.length > 0 && !loading" class="ion-content-scroll-host">
    <ion-list>
      <ion-item tabbapble [routerLink]="[product.id]" *cdkVirtualFor="let product of products">
        <ion-avatar *ngIf="displayThumbnail" slot="start">
          <img class="product-image" [src]="product.url" [title]="product.name" [alt]="product.name" loading="lazy" [style]="'background-color:' + product.color" width="32" height="32">
        </ion-avatar>

        <ion-label class="ion-text-wrap" style="min-height:60px; display:flex;flex-direction: column;justify-content: center;">
          <!--style="min-height:58px;">-->
          <div class="product-options" style="display:flex;gap:.5em">
            <ion-badge color="secondary" *ngIf="product.isNew == true" translate="newItem"></ion-badge>
            <ion-badge color="danger" *ngIf="this.canPromo && product.isPromo == true" translate="promoItem"></ion-badge>
            <ion-badge color="warning" *ngIf="product.isFavorite" translate="favoriteItem"></ion-badge>
            <ion-badge color="success" *ngIf="product.type === 'B'" translate="orderItem"></ion-badge>
          </div>
          <span style="font-size:clamp(6px, 3vw, 0.875rem)">{{ product.unit | capitalize }} - {{ product.name }}</span>
          <div *ngIf="product.favLastB" style="font-size:12px;font-style:italic">
            {{ favinfo(product) }}
          </div>
          <ion-badge color="light" *ngIf="product.availableOn">
            {{ availableDescription(product) }}
          </ion-badge>
        </ion-label>
        <div class="add-to-cart" slot="end" (click)="$event.stopPropagation();$event.preventDefault()">
          <input [value]="product.amount ?? null" [disabled]="product.availableOn !== null" placeholder="0" class="control-color" type="tel" [tabindex]="1" (input)="changeProductAmount($event, product)" />
        </div>
      </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>

  <div *ngIf="(!products.length && loading) || loading || loadingAdditional">
    <div style="text-align:center">
      <ion-spinner mode="ios"></ion-spinner>
    </div>
  </div>
</ion-content>
