:host {
  ion-item-sliding {
    div.add-to-cart {

      width: 72px;

      input {
        border-width: 1px;
        border-style: solid;
        border-radius: .25rem;
        width: 100%;
        font-size: 14px;
        padding: .5rem .5rem;
        outline: none;
      }
    }

    ion-label.ion-text-wrap {
      min-height: 48px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      div.product-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
      }

      ion-note {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
      }

      @media screen and (min-width: 600px) {
        flex-direction: row;

        ion-note {
          font-size: initial;
        }
      }
    }
  }


  div.price {
    min-width: 100px;
    text-align: right;
  }

  ion-item {
    //--ion-background-color: white;

    @media (prefers-color-scheme: dark) {
      --ion-background-color: black;
    }
  }

  div.cart-progress {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;

    div.step-1,
    div.step-2,
    div.step-3 {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 18px;
      color: #8A969A;
      text-align: center;
      line-height: 40px;

      background-color: var(--ion-color-light-shade);

      @media screen and (prefers-color-scheme: dark) {
        background-color: var(--ion-color-dark-shade);
      }

      span.title {
        text-align: center;
        font-size: 1.3em;
      }

      span.label {
        display: block;
        position: absolute;
        bottom: -30px;
        width: 100px;
        text-align: center;
        left: -30px;
      }

      &.active {
        background-color: var(--ion-color-secondary-shade);
        color: white;
        font-weight: bold;

        span.label {
          color: var(--ion-color-secondary-shade);
        }
      }

      &.completed {
        background-color: var(--ion-color-success-shade);
        color: white;

        span.label {
          color: var(--ion-color-success-shade);
        }
      }
    }

    div.connector {
      margin-top: 17px;
      height: 6px;
      width: 100%;
      background-color: var(--ion-color-light-shade);

      @media screen and (prefers-color-scheme: dark) {
        background-color: var(--ion-color-dark-shade);
      }

      &.active {
        background-color: var(--ion-color-secondary-shade);
        background-image: linear-gradient(to right, var(--ion-color-success-shade) 35%, var(--ion-color-secondary-shade) 65%);
      }

      &.completed {
        background-color: var(--ion-color-success-shade);
      }
    }
  }
}
