<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="backButtonText"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span translate="cartHistoryPage"></span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="carts && carts.length === 0">
    <div id="container">
      <section class="no-service-orders">
        <ion-note translate="noCarts"></ion-note>
      </section>
    </div>
  </ng-container>

  <ng-container *ngFor="let dayGroup of groupedView | keyvalue: keyDescOrder">
    <ion-text class="list-header">
      <ion-note>{{ dayGroup.key | date : 'EEEE dd MMMM' : null : culture }}</ion-note>
    </ion-text>

    <ion-list inset="true">
      <ion-item *ngFor="let cart of dayGroup.value" [routerLink]="'/carts/' + cart.id" [queryParams]="{history: true}">
        <ng-container *ngIf="cart.sendOk">
          <i slot="start" class="fal fa-fw fa-lg fa-check" style="color:green"></i>
        </ng-container>
        <ng-container *ngIf="cart.sendDate && !cart.sendOk">
          <i slot="start" class="fal fa-fw fa-lg fa-times" style="color:red"></i>
        </ng-container>
        <ng-container *ngIf="!cart.sendOk && !cart.sendDate">
          <i slot="start" class="fal fa-fw fa-lg fa-info-circle" style="color:orange"></i>
        </ng-container>
        <ion-label>
          {{ cart.customerName | capitalize }} <br />
          <ion-note style="font-size:.8rem">
            <ng-container *ngIf="cart.sendOk">
              {{ 'sentOn' | translate }} {{ cart.sendDate | date : 'EEEE dd MMMM HH:mm' : null : culture}}
            </ng-container>
            <ng-container *ngIf="cart.sendDate && !cart.sendOk">
              {{ 'sendFailedOn' | translate }} {{ cart.sendDate | date : 'EEEE dd MMMM HH:mm' : null : culture}}
            </ng-container>
            <ng-container *ngIf="!cart.sendOk && !cart.sendDate">
              {{ 'notYetSent' | translate }}
            </ng-container>
          </ion-note>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <div *ngIf="isloading">
    <div style="text-align:center">
      <ion-spinner></ion-spinner>
    </div>
  </div>
</ion-content>

<app-offline-footer></app-offline-footer>
