<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="backButtonText"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span translate="cartHistoryPage"></span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding class="empty-message" *ngIf="carts && carts.length === 0">
    <span translate="noCarts"></span>
  </div>
  <ion-list *ngIf="carts && carts.length > 0">
    <ion-item-divider>
      <ion-label class="ion-padding">
        <h1 [innerText]="carts[0].lastChangeDate | date : 'HH:mm dd MMM' : null : culture"></h1>
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let cart of carts" [routerLink]="'/carts/' + cart.id"
      [queryParams]="{history: true}" lines="full">
      <div class="ion-padding" style="font-size:2em;width:1.6em;padding-left: 0;">
        <div *ngIf="cart.sendOk" style="color:green">
          <i class="fal fa-fw fa-sm fa-check"></i>
        </div>
        <div *ngIf="cart.sendDate && !cart.sendOk" style="color:red">
          <i class="fal fa-fw fa-sm fa-times"></i>
        </div>
        <div *ngIf="!cart.sendOk && !cart.sendDate" style="color:orange">
          <i class="fal fa-fw fa-sm fa-info-circle"></i>
        </div>
      </div>
      <div>
        <h2>
          {{ cart.customerName | capitalize }}
          {{ cart.addressName | capitalize }}
        </h2>
        <div style="padding-bottom: 16px;font-style:italic;font-size:.8em;color:grey;">
          <div *ngIf="cart.sendOk">
            <span translate="sentOn"></span>
            <span>{{ cart.sendDate | date : 'EEEE dd MMMM HH:mm' : null : culture}}</span>
          </div>
          <div *ngIf="cart.sendDate && !cart.sendOk">
            <span translate="sendFailedOn"></span>
            <span>{{ cart.sendDate | date : 'EEEE dd MMMM HH:mm' : null : culture}}</span>
          </div>
          <div *ngIf="!cart.sendOk && !cart.sendDate">
            <span translate="notYetSent"></span>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <div *ngIf="isloading" padding>
    <div style="text-align:center">
      <ion-spinner mode="ios"></ion-spinner>
    </div>
  </div>
</ion-content>
