<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ng-container [ngSwitch]="isAgent">
        <ng-container *ngSwitchCase="true">
          {{ 'customersPage' | translate }}
          <ng-template [ngIf]="customers">
            <span> - </span>
            <span>{{ customers.length }}</span>
          </ng-template>
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ 'pages.sync.data_source.relations' | translate }}
        </ng-container>
      </ng-container>
    </ion-title>
    <ion-buttons slot="end">
      @switch (isAgent) {
        @case (true) {
          <ion-button tappable [routerLink]="['./customer-create']" translate>
            actions.add
          </ion-button>
        }
        @default {
          <ion-button tappable class="icon-only" [routerLink]="cartLink">
            <i class="fal fa-lg fa-fw fa-shopping-cart"></i>
          </ion-button>
        }
      }
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="isAgent">
    <ion-searchbar [placeholder]="'customer-info.search' | translate" type="text" id="searchInputField"
                   (input)="filterCustomers($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollY]="false" color="light">
  <cdk-virtual-scroll-viewport minBufferPx="1350" maxBufferPx="2350" autosize class="ion-content-scroll-host">
    <ion-list inset="true" *ngIf="customers && (customers.length > 0 || searchTerm.length > 0);else noCustomers">
      <ion-item *cdkVirtualFor="let customer of customers" tappable (click)="setActiveCustomer(customer)" button>
        <ion-label>
          <div style="display: flex; flex-direction: column; justify-content: center">
            {{ customer.name }}
            <ng-template [ngIf]="isAgent"> ({{ customer.id }})</ng-template>
            <div *ngIf="customer.addressId > 0">
              {{ customer.addressName }}
              <ng-template [ngIf]="isAgent"> ({{ customer.addressId }})</ng-template>
            </div>
          </div>
        </ion-label>
        <ion-note slot="end">
          <i class="fal fa-fw fa-xs fa-exclamation-triangle" *ngIf="customer.hasUnsentNotes"></i>
          <ion-badge color="light" class="text-capitalize">
            {{ customer.addressId === 0 ? customer.city : customer.delvCity }}
          </ion-badge>
        </ion-note>
      </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>

  <ng-template #noCustomers>
    <ion-item class="ion-padding empty-message" lines="none">
      {{ 'noCustomers' | translate }}
    </ion-item>
  </ng-template>
</ion-content>

<app-offline-footer></app-offline-footer>
