<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate="departmentsPage">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button tappable size="small" class="icon-only" (click)="create()">
        <i class="fal fa-fw fa-plus"></i>
      </ion-button>
      <ion-button tappable size="small" class="icon-only" routerLink="/cart">
        <i class="fal fa-fw fa-shopping-cart"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar *ngIf="!departments" [placeholder]="'searchInput' | translate" (ionInput)="filterDepartments($event)">
  </ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="loading" padding>
    <div style="text-align:center">
      <ion-spinner mode="ios"></ion-spinner>
    </div>
  </div>

  <ion-list *ngIf="!loading">
    <ion-item button lines="full" *ngFor="let department of departments" [routerLink]="[department.id]">
      <ion-label>{{ department.alias | capitalize }}</ion-label>
      <div slot="end">
        {{ department.products }}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
