<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate="departmentsPage">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button tappable class="icon-only" [routerLink]="cartLink">
        <i class="fal fa-lg fa-fw fa-shopping-cart"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large" translate="departmentsPage"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="loading" padding>
    <div style="text-align:center">
      <ion-spinner mode="ios"></ion-spinner>
    </div>
  </div>

  <ion-list [inset]="true" *ngIf="!loading">
    <ion-item button *ngFor="let department of departments" [routerLink]="[department.id]">
      <ion-label>{{ department.alias | capitalize }}</ion-label>
      <div slot="end">
        {{ department.products }}
      </div>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-item detail="false" button tappable (click)="network.online ? showCreateInput() : network.noop()">
      <ion-label color="primary" style="text-align:center">{{ 'actions.add' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-offline-footer></app-offline-footer>
