<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="backButtonText"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ datasheet?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" class="icon-button" fill="clear" slot="end" tappable (click)="share()">
        {{ 'actions.share' | translate }}&nbsp;
        <i color="primary" class="fal fa-fw fa-share-square"></i>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <pdf-viewer *ngIf="fileUrl" [src]="fileUrl" [render-text]="true" [zoom]="1" [render-text-mode]="1"
              [show-all]="true" [stick-to-page]="true" [fit-to-page]="true"
              (after-load-complete)="finish()"></pdf-viewer>
</ion-content>

<app-offline-footer></app-offline-footer>
