<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate="syncPage"></ion-title>
    <ion-buttons slot="end">
      <ion-button class="icon-only" tappable (click)="fullSync()">
        <i class='fal fa-fw fa-sync'></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large" translate="syncPage"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="fullSync($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-text class="list-header">
    <ion-note translate>Documenten</ion-note>
  </ion-text>

  <ion-list inset="true">

    <ion-item>
      <i class="fal fa-lg fa-fw fa-image" slot="start"></i>
      <ion-label>Thumbnails</ion-label>
      <ion-note slot="end">
        {{ imagecount }} / {{ productcount }}
      </ion-note>
    </ion-item>
  </ion-list>

  <ng-container *ngIf="internalUser">
    <ion-text class="list-header">
      <ion-note translate>pages.sync.sync_details</ion-note>
    </ion-text>

    <ion-list inset="true">
      <ion-item *ngFor="let checksum of integrityChecksums">
        <ion-label>{{ 'checksum.' + checksum.dataTable | translate }}</ion-label>
        <ion-note slot="end">
          {{ checksum.dateChanged | date:'dd/MM/yyyy HH:mm':undefined:culture }}
        </ion-note>
        <!-- <div item-start>
        <span [innerText]="checksum.dateChanged | date: 'dd/MM HH:mm'" style="font-size:12px;line-height:16px"></span>
      </div>
      <div item-content>
        <span [translate]="checksum.dataTable" style="font-size:12px"></span>
      </div>
      <div item-end>
        <span [innerText]="checksum.checksum" style="font-family:'Courier New',Courier,monospace;font-size:12px"></span>
      </div> -->
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-text class="list-footer">
    <ion-note>
      <ng-container *ngIf="lastSync">
        {{ 'pages.sync.lastsync' | translate }}
        {{ lastSync | date:'d MMMM yyyy HH:mm':undefined:culture }}
      </ng-container>
      <ng-container *ngIf="!lastSync">
        {{ 'pages.sync.neversynced' | translate }}
      </ng-container>
    </ion-note>
  </ion-text>
</ion-content>
