<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate="syncPage"></ion-title>
    <ion-buttons slot="end">
      <ion-button class="icon-only" tappable (click)="network.online ? fullSync() : network.noop()">
        <i class='fal fa-fw fa-sync'></i>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large" translate="syncPage"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="network.online ? fullSync($event) : network.noop($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-text class="list-header">
    <ion-note>{{ 'pages.sync.documents.title' | translate }}</ion-note>
  </ion-text>

  <ion-list inset="true">
    <ion-item>
      <ion-label>{{ 'pages.sync.documents.leaflets' | translate }}</ion-label>
      <ion-spinner slot="end" *ngIf="leafletCount === undefined"></ion-spinner>
      <ion-note slot="end" *ngIf="leafletCount !== undefined">
        {{ leafletCount }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'pages.sync.documents.datasheets' | translate }}</ion-label>
      <ion-spinner slot="end" *ngIf="datasheetCount === undefined"></ion-spinner>
      <ion-note slot="end" *ngIf="datasheetCount !== undefined">
        {{ datasheetCount }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'pages.sync.documents.usageManuals' | translate }}</ion-label>
      <ion-spinner slot="end" *ngIf="usageManualsCount === undefined"></ion-spinner>
      <ion-note slot="end" *ngIf="usageManualsCount !== undefined">
        {{ usageManualsCount }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'pages.sync.documents.recipes' | translate }}</ion-label>
      <ion-spinner slot="end" *ngIf="recipesCount === undefined"></ion-spinner>
      <ion-note slot="end" *ngIf="recipesCount !== undefined">
        {{ recipesCount }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'pages.sync.documents.reports' | translate }}</ion-label>
      <ion-spinner slot="end" *ngIf="reportCount === undefined"></ion-spinner>
      <ion-note slot="end" *ngIf="reportCount !== undefined">
        {{ reportCount }}
      </ion-note>
    </ion-item>
    <ion-item (click)="purgeThumbnails()">
      <ion-label>{{ 'pages.sync.documents.thumbnails' | translate }}</ion-label>
      <ion-spinner slot="end" *ngIf="imageCount === undefined || productCount === undefined"></ion-spinner>
      <ion-note slot="end" *ngIf="imageCount !== undefined && productCount !== undefined">
        {{ imageCount }} / {{ productCount }}
      </ion-note>
    </ion-item>
    <ion-item (click)="purgeThumbnails()">
      <ion-label>{{ 'pages.sync.documents.cache' | translate }}</ion-label>
      <ion-spinner slot="end" *ngIf="cacheSize === undefined"></ion-spinner>
      <ion-note slot="end" *ngIf="cacheSize !== undefined">
        {{ cacheSize | bytes:2 }}
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-text class="list-footer" *ngIf="internalUser || agent">
    <ion-note>
      Thumbnails worden automatisch opgeslagen, zo kan je zelfs zonder verbinding foto's blijven bekijken. Je kan ook
      <ion-text [style.cursor]="'pointer'" color="tertiary"
                (click)="network.online ? syncAllThumbnails() : network.noop()">hier
      </ion-text>
      klikken om alle artikels bij te werken. <!-- Foto's worden automatisch wekelijks bijgewerkt. -->
    </ion-note>
  </ion-text>

  <ng-container *ngIf="internalUser">
    <ion-text class="list-header">
      <ion-note>{{ 'pages.sync.sync_details' | translate }}</ion-note>
    </ion-text>

    <ion-list inset="true">
      <ion-item *ngFor="let checksum of integrityChecksums">
        <ion-label>
          <strong>{{ 'checksum.' + checksum.dataTable | translate }}</strong><br>
          {{ checksum.dateChanged | date:'EEEE d MMMM yy HH:mm':undefined:culture }}<br>
          <ion-text color="medium"
                    style="font-family:'Courier New',Courier,monospace;font-size:12px">{{ checksum.checksum }}
          </ion-text>
        </ion-label>
        <!--        <ion-note slot="end" style="font-family:'Courier New',Courier,monospace;font-size:12px">-->
        <!--          {{ checksum.checksum }}-->
        <!--        </ion-note>-->
        <!--        <ion-note slot="end">-->
        <!--          {{ checksum.dateChanged | date:'dd/MM/yyyy HH:mm':undefined:culture }}-->
        <!--        </ion-note>-->
        <!-- <div item-start>
        <span [innerText]="checksum.dateChanged | date: 'dd/MM HH:mm'" style="font-size:12px;line-height:16px"></span>
      </div>
      <div item-content>
        <span [translate]="checksum.dataTable" style="font-size:12px"></span>
      </div>
      <div item-end>
        <span [innerText]="checksum.checksum" style="font-family:'Courier New',Courier,monospace;font-size:12px"></span>
      </div> -->
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-text class="list-footer">
    <ion-note>
      <ng-container *ngIf="lastSync">
        {{ 'pages.sync.lastsync' | translate }}
        {{ lastSync | date:'EEEE d MMMM yyyy HH:mm':undefined:culture }}
      </ng-container>
      <ng-container *ngIf="!lastSync">
        {{ 'pages.sync.neversynced' | translate }}
      </ng-container>
    </ion-note>
  </ion-text>
</ion-content>

<app-offline-footer></app-offline-footer>
